<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Re-SPhone</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='assets/Re-Sphone-Logo.ico') }}" />
    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}" />
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
          </div>
          <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="{{ url_for('index') }}">Beranda</a></li>
            <li><a href="{{ url_for('tentang') }}">Tentang</a></li>
            <li><a href="{{ url_for('proyek') }}">Proyek</a></li>
          </ul>
        </div>
        <a class="btn btn-ghost text-xl">Re-SPhone</a>
      </div>
      <div class="navbar-center hidden lg:flex">
        <ul class="menu menu-horizontal px-1">
          <li><a href="{{ url_for('index') }}">Beranda</a></li>
          <li><a href="{{ url_for('tentang') }}">Tentang</a></li>
          <li><a href="{{ url_for('proyek') }}">Proyek</a></li>
        </ul>
      </div>
      <div class="navbar-end">
        <a href="{{ url_for('login') }}" class="btn">Login</a>
      </div>
    </div>
    <!--Akhir Navbar-->
    <div class="text-center pb-12 mt-5">
      <h2 class="text-base font-bold text-gray-400">Langkah-langkah</h2>
      <h1 class="font-bold text-3xl md:text-4xl lg:text-5xl font-heading text-gray-700">Rekomendasi dengan Fuzzy</h1>
    </div>
    <!-- component -->
    <div class="container mx-auto mb-10">
      <div class="flex flex-col md:grid grid-cols-9 mx-auto p-2 text-blue-50">
        <!-- left -->
        <div class="flex flex-row-reverse md:contents">
          <div class="bg-base-200 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md">
            <p class="leading-tight text-justify">Mengumpulkan data Handphone terbaru</p>
          </div>
          <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
            <div class="h-full w-6 flex items-center justify-center">
              <div class="h-full w-1 bg-base-200 pointer-events-none"></div>
            </div>
            <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-base-200 shadow"></div>
          </div>
        </div>
        <!-- right -->
        <div class="flex md:contents">
          <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
            <div class="h-full w-6 flex items-center justify-center">
              <div class="h-full w-1 bg-base-200 pointer-events-none"></div>
            </div>
            <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-base-200 shadow"></div>
          </div>
          <div class="bg-base-200 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md">
            <h3 class="font-semibold text-lg mb-1"></h3>
            <p class="leading-tight text-justify">Membuat Fungsi Keanggotaan.</p>
          </div>
        </div>
        <!-- left -->
        <div class="flex flex-row-reverse md:contents">
          <div class="bg-base-200 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md">
            <p class="leading-tight text-justify">Membuat Fungsi Fuzzyfikasi</p>
          </div>
          <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
            <div class="h-full w-6 flex items-center justify-center">
              <div class="h-full w-1 bg-base-200 pointer-events-none"></div>
            </div>
            <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-base-200 shadow"></div>
          </div>
        </div>
        <!-- left -->
        <div class="flex flex-row-reverse md:contents">
          <div class="bg-base-200 col-start-1 col-end-5 p-4 rounded-xl my-4 ml-auto shadow-md">
            <p class="leading-tight text-justify">Melakukan Defuzzyfikasi dengan fungsi Max</p>
          </div>
          <div class="col-start-5 col-end-6 md:mx-auto relative mr-10">
            <div class="h-full w-6 flex items-center justify-center">
              <div class="h-full w-1 bg-base-200 pointer-events-none"></div>
            </div>
            <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-base-200 shadow"></div>
          </div>
        </div>
        <!-- right -->
        <div class="flex md:contents">
          <div class="col-start-5 col-end-6 mr-10 md:mx-auto relative">
            <div class="h-full w-6 flex items-center justify-center">
              <div class="h-full w-1 bg-base-200 pointer-events-none"></div>
            </div>
            <div class="w-6 h-6 absolute top-1/2 -mt-3 rounded-full bg-base-200 shadow"></div>
          </div>
          <div class="bg-base-200 col-start-6 col-end-10 p-4 rounded-xl my-4 mr-auto shadow-md">
            <p class="leading-tight text-justify">Membuat Knowledge (Rules).</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
